<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-card">
    <h2>User Login</h2>

    <label>Username</label>
    <input type="text" formControlName="username" placeholder="Enter username">
    <small *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
      Valid Username is required
    </small>

    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Enter password">
    <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      Password must be at least 6 characters
    </small>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>

    <p>
      Not registered?
      <a routerLink="/register">Register here</a>
    </p>

  </form>
</div>
